html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block}
::selection{background:rgba(94,127,192,0.8)}
::-moz-selection{background:rgba(94,127,192,0.8)}
img::selection{background:transparent}
img::-moz-selection{background:transparent}
body{-webkit-tap-highlight-color:rgba(94,127,192,0.8)}
body{font-family:"Source Sans Pro",sans-serif;font-size:18px;line-height:1.5em;font-weight:400;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;font-smoothing:antialiased}
h1,h2,h3,h4,h5,h6{margin:.2em 0 .5em 0;line-height:1.395em;font-family:"Source Sans Pro",sans-serif;font-weight:600;font-size:1em}
h1{font-size:2em}
h2,.front h1{font-size:1.5em;font-weight:400}
h2 a{color:#5fb46c;text-decoration:none}h2 a:hover{text-decoration:underline}
h3{font-size:1.2em}
h4{font-size:1.1em}
p,ul,ol,blockquote,pre,table{margin:0 0 1.5em 0}
ul li,ol li{margin-left:3em}
table{border-collapse:collapse}table tr th,table tr td{padding:0 .5em 0 0;margin:0}
table tr th{text-align:left}
table.data{width:100%;border:2px solid #ddd}table.data.collapse{width:auto}
table.data tr th,table.data tr td{padding:.25em .5em;border-bottom:1px solid #ddd}
table.data tr th{font-family:"Source Sans Pro",sans-serif;font-weight:600;text-align:left}
blockquote{padding:.5em .8em;font-size:1.2em;font-style:italic;line-height:1.5em;background-color:#e6e6e6}
pre{padding:.5em .8em;white-space:pre-wrap}
acronym,abbr{border-bottom:1px dotted #777;cursor:help}
hr{margin:1em 0;border-top:1px solid #ddd}
a{color:#5e7fc0}a:hover{color:#000}
body{padding:1em;background-color:#fff;color:#444}
.status,.warning,.error,.messages{position:relative;display:block;padding:.5em 0;margin:0;background-color:#e6e6e6;font-size:.9em}.status a.closer,.warning a.closer,.error a.closer,.messages a.closer{position:absolute;top:.5em;right:.6em;color:#444;font-weight:600;text-decoration:none;opacity:.7}.status a.closer .text,.warning a.closer .text,.error a.closer .text,.messages a.closer .text{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden}
.status a.closer:hover,.warning a.closer:hover,.error a.closer:hover,.messages a.closer:hover{opacity:.9}
.messages ul{margin:0}
.status{background-color:#b5edc6;color:#165a2b}
.warning{background-color:#fdf0b8}
.error{background-color:#fdcfbe;color:#852704}
#breadcrumbs{margin-bottom:1em;font-size:.75em;padding:0;border-style:solid;border-color:#e6e6e6;border-width:1px 0}
#breadcrumbs a{color:#999;text-decoration:none}
#breadcrumbs a:hover{color:#333}
.field-label-hidden,.field-label-inline,.field-label-above{margin-bottom:1.5em}
.field-label{font-weight:600}
ul.tabs{margin:0 0 1em 0;padding:0;border-bottom:1px solid #ddd}ul.tabs:after{content:" ";display:block;clear:left;height:0;overflow:hidden}
ul.tabs li{display:inline;list-style:none;margin:0;padding:0}ul.tabs li a{display:inline-block;padding:8px .9em 6px;margin-right:.1em;background-color:#f8f8f8;border:solid #eaeaea;border-width:1px 1px 0 1px;color:#444;text-decoration:none}ul.tabs li a.active,ul.tabs li a.active:hover{padding:12px 1.1em 6px;background-color:#fff;color:#444;border-color:#ddd;border-bottom:1px solid #fff;margin-bottom:-1px;font-weight:600}
ul.tabs li a:hover{background-color:#fff;color:#5fb46c}
ul.tabs li a i{margin-left:-0.2em}
a.feed-icon{padding:0 .4em;display:inline-block;color:#fff;text-decoration:none;background-color:#ff8e3a;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;transition:all .3s ease-in}a.feed-icon:hover{-webkit-box-shadow:inset 0 0 .75em rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 .75em rgba(0,0,0,0.3);box-shadow:inset 0 0 .75em rgba(0,0,0,0.3)}
.block{margin-bottom:1em}
span.marker{display:inline-block;padding:0 .4em;background-color:#5e7fc0;color:#fff;font-size:.9em;line-height:1.2em;text-transform:uppercase}
a.more-link,.more-link a,ul.links a{display:inline-block;padding:.4em .8em;text-transform:uppercase;text-decoration:none;color:#777;border:1px solid #ddd}a.more-link:hover,.more-link a:hover,ul.links a:hover{background-color:#e6e6e6}
a.more-link:after,.more-link a:after,ul.links a:after{content:' \203A'}
ul.pager{margin:0 0 2em 0;padding-top:1.5em;border-top:2px solid #ddd}ul.pager li{display:inline;margin:0;padding:0}ul.pager li.pager-current{display:inline-block;margin-right:.25em;padding:.25em .75em;background-color:#444;color:#fff;font-size:1em;line-height:1.5em}
ul.pager li a{display:inline-block;margin-right:.25em;padding:.25em .75em;background-color:#5e7fc0;color:#fff;font-size:1em;line-height:1.5em;font-weight:400;text-decoration:none}ul.pager li a:hover{text-decoration:underline}
.progress .bar{border:1px solid #5fb46c}
.progress .filled{background-color:#5fb46c}
form#search-block-form{margin-top:5px}
form#search-block-form .container-inline{background-color:#e1e2e3;border:1px solid #ccc;padding-right:30px;position:relative;box-shadow:inset 0 0 8px #ccc;-moz-border-radius:2px;-webkit-border-radius:2px}
form#search-block-form .container-inline input{border-width:0;background-color:transparent;margin:0;padding:5px;width:178px;font-size:15px;line-height:22px;height:22px}
form#search-block-form .container-inline input.form-submit{position:absolute;top:0;right:0;display:block;width:30px;height:32px;text-indent:-300px;overflow:hidden;background:url(../img/graphics/search-submit-icon.png) no-repeat center center}
.password-strength{margin-bottom:1em;padding:.3em;background-color:#f2f2f2;max-width:20em}
.password-strength .password-strength-title{font-weight:600}
.password-strength .password-strength-text{float:right}
.password-strength .password-indicator .indicator{clear:both;height:3px;background-color:#5e7fc0;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;transition:all .3s ease-in}
#admin-menu{background:#222;font-family:'Helvetica Neue',sans-serif;font-size:15px;font-weight:300;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
img{max-width:100%;height:auto}
.attn{font-family:"Source Sans Pro",sans-serif;font-weight:400;font-size:1.3em;line-height:1.5em}
.box{background-color:#e6e6e6;padding:1em;margin-bottom:1.5em}.box>*:last-child{margin-bottom:0}
.text-right,.text-right-d{text-align:right}
.text-left,.text-left-d{text-align:left}
.text-center,.text-center-d{text-align:center}
@media only screen and (max-width:640px){.text-right-d{text-align:left} .text-left-d{text-align:left} .text-center-d{text-align:left} .text-right-m{text-align:right} .text-left-m{text-align:left} .text-center-m{text-align:center}}ul.lined,ol.lined{border-top:1px solid #ddd}
ul.lined li{list-style:none;margin:0;padding:.4em;border-bottom:1px solid #ddd}
ol.lined li{list-style-position:inside;margin:0;padding:.4em;border-bottom:1px solid #ddd}
ul.blocked li{list-style:none;margin:0 0 .75em 0}
ol.blocked li{list-style-position:inside;margin:0 0 .75em 0}
ul.inline,ol.inline{padding:0}ul.inline li,ol.inline li{display:inline;list-style:none;margin:0 1em 0 0;padding:0}
img.right{float:right;margin:0 0 .5em .5em;text-align:center}
img.left{float:left;margin:0 .5em .5em 0;text-align:center}
table.narrow{width:auto}
.show-mobile{display:none}
@media only screen and (max-width:640px){.show-mobile{display:block} span.show-mobile,i.show-mobile{display:inline} .show-big{display:none}}.innerglow{box-shadow:inset 0 0 .5em rgba(0,0,0,0.1)}
.transition{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;transition:all .3s ease-in}
div.box,.code-block{padding:1em;margin-bottom:1.5em;background-color:#e6e6e6}div.box p:last-child,.code-block p:last-child{margin-bottom:0}
.code-block{white-space:pre}
.accessible-hide,.assistive-text,.element-invisible{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden}
.clearfixed{content:" ";display:block;clear:left;height:0;overflow:hidden}
.clearfix:after{content:" ";display:block;clear:left;height:0;overflow:hidden}
