html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video{display:block}
::selection{background:rgba(94,127,192,0.8)}
::-moz-selection{background:rgba(94,127,192,0.8)}
img::selection{background:transparent}
img::-moz-selection{background:transparent}
body{-webkit-tap-highlight-color:rgba(94,127,192,0.8)}
body{font-family:"Source Sans Pro",sans-serif;font-size:18px;line-height:1.5em;font-weight:400;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;font-smoothing:antialiased}
h1,h2,h3,h4,h5,h6{margin:.2em 0 .5em 0;line-height:1.395em;font-family:"Source Sans Pro",sans-serif;font-weight:600;font-size:1em}
h1{font-size:2em}
h2,.front h1{font-size:1.5em;font-weight:400}
h2 a{color:#5fb46c;text-decoration:none}h2 a:hover{text-decoration:underline}
h3{font-size:1.2em}
h4{font-size:1.1em}
p,ul,ol,blockquote,pre,table{margin:0 0 1.5em 0}
ul li,ol li{margin-left:3em}
table{border-collapse:collapse}table tr th,table tr td{padding:0 .5em 0 0;margin:0}
table tr th{text-align:left}
table.data{width:100%;border:2px solid #ddd}table.data.collapse{width:auto}
table.data tr th,table.data tr td{padding:.25em .5em;border-bottom:1px solid #ddd}
table.data tr th{font-family:"Source Sans Pro",sans-serif;font-weight:600;text-align:left}
blockquote{padding:.5em .8em;font-size:1.2em;font-style:italic;line-height:1.5em;background-color:#e6e6e6}
pre{padding:.5em .8em;white-space:pre-wrap}
acronym,abbr{border-bottom:1px dotted #777;cursor:help}
hr{margin:1em 0;border-top:1px solid #ddd}
a{color:#5e7fc0}a:hover{color:#000}
.status,.warning,.error,.messages{position:relative;display:block;padding:.5em 0;margin:0;background-color:#e6e6e6;font-size:.9em}.status a.closer,.warning a.closer,.error a.closer,.messages a.closer{position:absolute;top:.5em;right:.6em;color:#444;font-weight:600;text-decoration:none;opacity:.7}.status a.closer .text,.warning a.closer .text,.error a.closer .text,.messages a.closer .text{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden}
.status a.closer:hover,.warning a.closer:hover,.error a.closer:hover,.messages a.closer:hover{opacity:.9}
.messages ul{margin:0}
.status{background-color:#b5edc6;color:#165a2b}
.warning{background-color:#fdf0b8}
.error{background-color:#fdcfbe;color:#852704}
#breadcrumbs{margin-bottom:1em;font-size:.75em;padding:0;border-style:solid;border-color:#e6e6e6;border-width:1px 0}
#breadcrumbs a{color:#999;text-decoration:none}
#breadcrumbs a:hover{color:#333}
.field-label-hidden,.field-label-inline,.field-label-above{margin-bottom:1.5em}
.field-label{font-weight:600}
ul.tabs{margin:0 0 1em 0;padding:0;border-bottom:1px solid #ddd}ul.tabs:after{content:" ";display:block;clear:left;height:0;overflow:hidden}
ul.tabs li{display:inline;list-style:none;margin:0;padding:0}ul.tabs li a{display:inline-block;padding:8px .9em 6px;margin-right:.1em;background-color:#f8f8f8;border:solid #eaeaea;border-width:1px 1px 0 1px;color:#444;text-decoration:none}ul.tabs li a.active,ul.tabs li a.active:hover{padding:12px 1.1em 6px;background-color:#fff;color:#444;border-color:#ddd;border-bottom:1px solid #fff;margin-bottom:-1px;font-weight:600}
ul.tabs li a:hover{background-color:#fff;color:#5fb46c}
ul.tabs li a i{margin-left:-0.2em}
a.feed-icon{padding:0 .4em;display:inline-block;color:#fff;text-decoration:none;background-color:#ff8e3a;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;transition:all .3s ease-in}a.feed-icon:hover{-webkit-box-shadow:inset 0 0 .75em rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 .75em rgba(0,0,0,0.3);box-shadow:inset 0 0 .75em rgba(0,0,0,0.3)}
.block{margin-bottom:1em}
span.marker{display:inline-block;padding:0 .4em;background-color:#5e7fc0;color:#fff;font-size:.9em;line-height:1.2em;text-transform:uppercase}
a.more-link,.more-link a,ul.links a{display:inline-block;padding:.4em .8em;text-transform:uppercase;text-decoration:none;color:#777;border:1px solid #ddd}a.more-link:hover,.more-link a:hover,ul.links a:hover{background-color:#e6e6e6}
a.more-link:after,.more-link a:after,ul.links a:after{content:' \203A'}
ul.pager{margin:0 0 2em 0;padding-top:1.5em;border-top:2px solid #ddd}ul.pager li{display:inline;margin:0;padding:0}ul.pager li.pager-current{display:inline-block;margin-right:.25em;padding:.25em .75em;background-color:#444;color:#fff;font-size:1em;line-height:1.5em}
ul.pager li a{display:inline-block;margin-right:.25em;padding:.25em .75em;background-color:#5e7fc0;color:#fff;font-size:1em;line-height:1.5em;font-weight:400;text-decoration:none}ul.pager li a:hover{text-decoration:underline}
.progress .bar{border:1px solid #5fb46c}
.progress .filled{background-color:#5fb46c}
form#search-block-form{margin-top:5px}
form#search-block-form .container-inline{background-color:#e1e2e3;border:1px solid #ccc;padding-right:30px;position:relative;box-shadow:inset 0 0 8px #ccc;-moz-border-radius:2px;-webkit-border-radius:2px}
form#search-block-form .container-inline input{border-width:0;background-color:transparent;margin:0;padding:5px;width:178px;font-size:15px;line-height:22px;height:22px}
form#search-block-form .container-inline input.form-submit{position:absolute;top:0;right:0;display:block;width:30px;height:32px;text-indent:-300px;overflow:hidden;background:url(../img/graphics/search-submit-icon.png) no-repeat center center}
.password-strength{margin-bottom:1em;padding:.3em;background-color:#f2f2f2;max-width:20em}
.password-strength .password-strength-title{font-weight:600}
.password-strength .password-strength-text{float:right}
.password-strength .password-indicator .indicator{clear:both;height:3px;background-color:#5e7fc0;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;transition:all .3s ease-in}
#admin-menu{background:#222;font-family:'Helvetica Neue',sans-serif;font-size:15px;font-weight:300;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.form-item{margin:0 0 1em 0}
.form-item label{display:block;font-weight:600}
.form-radios,.form-checkboxes{column-count:3;column-gap:2%}
.form-type-checkbox label{display:inline;cursor:pointer}
.form-radios label,.form-checkboxes label{display:inline;font-weight:normal;cursor:pointer;margin-right:1em}
.form-radios .form-item,.form-checkboxes .form-item{margin:0}
.form-item .description{font-size:.9em;font-style:italic}
input[type=text],input[type=password],textarea,select{background-color:#f8f8f8;font-size:1em;font-family:"Source Sans Pro",sans-serif;padding:.4em;border:1px solid #ddd;box-shadow:inset 0 0 3px rgba(0,0,0,0.05);outline:none}input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus{border-color:#666}
input[type=text],input[type=password]{width:24em}
button,a.button,input[type=submit],input[type=button],input[type=reset]{display:inline-block;padding:.3em .8em;background:#5fb46c;font-size:1em;line-height:1.5em;font-family:"Source Sans Pro",sans-serif;color:#fff;border:0 none;cursor:pointer}button:active,a.button:active,input[type=submit]:active,input[type=button]:active,input[type=reset]:active{position:relative;margin-top:2px}
button:hover,a.button:hover,input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover{box-shadow:inset 0 0 .5em rgba(0,0,0,0.1)}
.form-actions #edit-cancel{margin-left:1em}
html.js input.form-autocomplete{background-position:100% 12px}html.js input.form-autocomplete.throbbing{background-position:100% -8px}
.filter-wrapper{margin-top:-1em;padding:1em 0;border:solid #ddd;border-width:0 1px 1px 1px}
div.submit{padding-top:1em;border-top:1px solid #ddd}
input.narrow{width:10em}
input.long{width:30em}
input.full{width:96%}
fieldset{margin-bottom:1em;border-top:6px solid #ddd;padding-top:1em}
fieldset legend{display:inline-block;text-transform:uppercase;font-weight:600;background-color:#fff;padding:.5em .5em .5em 0}
fieldset.collapsible legend a{color:inherit;text-decoration:none}fieldset.collapsible legend a:hover{color:#5e7fc0}
fieldset.collapsible legend a:after{content:' \25B2';display:inline-block;padding-left:1em;font-size:.6em}
fieldset.collapsible.collapsed legend a:after{content:' \25BC'}
@media only screen and (max-width:640px){input[type=text],input[type=password],input.long{width:96%} input.narrow{width:43%}}body{background-color:#e6e6e6}
a{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-ms-transition:all .3s linear;transition:all .3s linear;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;transition:all .3s ease-in}
#wrapper.blocked{margin:0 auto 3em auto;max-width:800px}
.grid{margin:0 auto;max-width:800px;min-width:300px}.grid:after{content:" ";display:block;clear:left;height:0;overflow:hidden}
.row{margin-bottom:1.5em}
.column{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.grid .g12{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:100%}
.grid .g11{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:91.66666666666666%}
.grid .g10{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:83.33333333333334%}
.grid .g9{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:75%}
.grid .g8{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:66.66666666666666%}
.grid .g7{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:58.333333333333336%}
.grid .g6{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:50%}
.grid .g5{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:41.66666666666667%}
.grid .g4{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:33.33333333333333%}
.grid .g3{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:25%}
.grid .g2{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:16.666666666666664%}
.grid .g1{float:left;padding:0 1em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:8.333333333333332%}
.grid .push12{position:relative;left:100%}
.grid .push11{position:relative;left:91.66666666666666%}
.grid .push10{position:relative;left:83.33333333333334%}
.grid .push9{position:relative;left:75%}
.grid .push8{position:relative;left:66.66666666666666%}
.grid .push7{position:relative;left:58.333333333333336%}
.grid .push6{position:relative;left:50%}
.grid .push5{position:relative;left:41.66666666666667%}
.grid .push4{position:relative;left:33.33333333333333%}
.grid .push3{position:relative;left:25%}
.grid .push2{position:relative;left:16.666666666666664%}
.grid .push1{position:relative;left:8.333333333333332%}
.grid .pull12{position:relative;left:-100%}
.grid .pull11{position:relative;left:-91.66666666666666%}
.grid .pull10{position:relative;left:-83.33333333333334%}
.grid .pull9{position:relative;left:-75%}
.grid .pull8{position:relative;left:-66.66666666666666%}
.grid .pull7{position:relative;left:-58.333333333333336%}
.grid .pull6{position:relative;left:-50%}
.grid .pull5{position:relative;left:-41.66666666666667%}
.grid .pull4{position:relative;left:-33.33333333333333%}
.grid .pull3{position:relative;left:-25%}
.grid .pull2{position:relative;left:-16.666666666666664%}
.grid .pull1{position:relative;left:-8.333333333333332%}
.grid .row{margin-bottom:0;margin-left:-1em;margin-right:-1em}
.grid .gcenter{margin-left:auto;margin-right:auto;clear:left;float:none}.grid .gcenter:after{content:" ";display:block;clear:left;height:0;overflow:hidden}
@media only screen and (max-width:640px){.mob_column{float:none;margin:0} .grid .g12{float:none;margin:0;width:auto} .grid .g11{float:none;margin:0;width:auto} .grid .g10{float:none;margin:0;width:auto} .grid .g9{float:none;margin:0;width:auto} .grid .g8{float:none;margin:0;width:auto} .grid .g7{float:none;margin:0;width:auto} .grid .g6{float:none;margin:0;width:auto} .grid .g5{float:none;margin:0;width:auto} .grid .g4{float:none;margin:0;width:auto} .grid .g3{float:none;margin:0;width:auto} .grid .g2{float:none;margin:0;width:auto} .grid .g1{float:none;margin:0;width:auto} .grid .push12{position:static;left:0} .grid .push11{position:static;left:0} .grid .push10{position:static;left:0} .grid .push9{position:static;left:0} .grid .push8{position:static;left:0} .grid .push7{position:static;left:0} .grid .push6{position:static;left:0} .grid .push5{position:static;left:0} .grid .push4{position:static;left:0} .grid .push3{position:static;left:0} .grid .push2{position:static;left:0} .grid .push1{position:static;left:0} .grid .pull12{position:static;left:0} .grid .pull11{position:static;left:0} .grid .pull10{position:static;left:0} .grid .pull9{position:static;left:0} .grid .pull8{position:static;left:0} .grid .pull7{position:static;left:0} .grid .pull6{position:static;left:0} .grid .pull5{position:static;left:0} .grid .pull4{position:static;left:0} .grid .pull3{position:static;left:0} .grid .pull2{position:static;left:0} .grid .pull1{position:static;left:0} .grid .row{margin-bottom:0}}.clearfixed{content:" ";display:block;clear:left;height:0;overflow:hidden}
.clearfix:after{content:" ";display:block;clear:left;height:0;overflow:hidden}
.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
#control #drawer,#control #page{-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;transition:all .3s}
#control #drawer{position:fixed;top:0;left:-19em;width:19em;height:100%;z-index:2}
#control #page{position:relative;top:0;left:0;width:100%}
#control #page-overlay{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1001;opacity:0;background-color:rgba(0,0,0,0.5)}
#control.open{overflow:hidden;width:100%}#control.open #drawer{left:0}
#control.open #page{left:19em}
#control.open #page-overlay{display:block;opacity:1;cursor:e-resize;-webkit-animation:show-and-fadein .5s;-moz-animation:show-and-fadein .5s;-ms-animation:show-and-fadein .5s;animation:show-and-fadein .5s}
#wrapper{background-color:#f7f7f7;color:#444}
#site-header{padding:10% 0}#site-header p{font-size:1.2em}
@media only screen and (max-width:640px){#site-header{padding:3em 0}}
#content-body,.content-row{padding:3em 0}
footer{padding:1em 0;color:#6a6a6a}footer a{color:#444}
footer .block{font-size:.9em}
#jump-nav{position:absolute;top:5em;left:50%;z-index:100}#jump-nav a{display:block;position:relative;left:-50%;top:-10em;padding:.5em;color:#fff;background-color:#5fb46c}#jump-nav a:focus{top:0}
#drawer{background-color:#5fb46c;color:#fff}#drawer a.drawer-link{display:block;padding:.3em .4em;margin-bottom:.5em;background-color:#82c48c;text-decoration:none;text-transform:uppercase}
#drawer a{color:#fff}
#drawer .liner{padding:1em}
#drawer ul.blocked li{margin:0}#drawer ul.blocked li a{display:block;padding:.25em .4em;border-top:1px solid #479954;text-decoration:none}
#site-title{font-size:1.2em;font-weight:600}#site-title a{color:#444;text-decoration:none}#site-title a:hover{color:#5fb46c}
#main-menu-holder{padding-top:1.5em}#main-menu-holder a.drawer-link{display:none}
#main-menu-holder ul.menu{display:inline-block;margin:0;padding:0 0 1.5em 0;border-bottom:1px solid #ddd}#main-menu-holder ul.menu li{margin:0;padding:0;display:inline;list-style:none}#main-menu-holder ul.menu li a{display:inline-block;margin-right:1em;font-size:1.1em;text-decoration:none}#main-menu-holder ul.menu li a:hover{text-decoration:underline}
#main-menu-holder ul.menu li a.active{color:#444;font-weight:600;text-decoration:none}
@media only screen and (max-width:640px){#main-menu-holder ul.menu{display:none} #main-menu-holder a.drawer-link{display:block;position:absolute;right:1em;top:3em}#main-menu-holder a.drawer-link .text{display:none}}
.diary-teaser,.project-teaser,.lab-teaser,.portfolio-teaser{margin-bottom:3em}
#content .row .g6:nth-child(2n+1){clear:left}
.portfolio-teaser img{border:1px solid #ddd}
.screenshot-thumbnails{background-color:#444;color:#fff;margin:0 -20% 1.5em;padding:1.5em;white-space:nowrap;vertical-align:top;overflow:scroll}.screenshot-thumbnails .screenshot{display:inline-block;margin:0 1.5em 0 0}
@media only screen and (max-width:1120px){.screenshot-thumbnails{margin:0 0 1.5em 0}}
.nivo-lightbox-overlay{position:fixed;top:0;left:0;z-index:99998;width:100%;height:100%;overflow:hidden;visibility:hidden;opacity:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.nivo-lightbox-overlay.nivo-lightbox-open{visibility:visible;opacity:1}
.nivo-lightbox-wrap{position:absolute;top:10%;bottom:10%;left:10%;right:10%}
.nivo-lightbox-content{width:100%;height:100%}
.nivo-lightbox-title-wrap{position:absolute;bottom:0;left:0;width:100%;z-index:99999;text-align:center}
.nivo-lightbox-nav{display:none}
.nivo-lightbox-prev{position:absolute;top:50%;left:0}
.nivo-lightbox-next{position:absolute;top:50%;right:0}
.nivo-lightbox-close{position:absolute;top:2%;right:2%}
.nivo-lightbox-image{text-align:center}
.nivo-lightbox-image img{max-width:100%;max-height:100%;width:auto;height:auto;vertical-align:middle}
.nivo-lightbox-content iframe{width:100%;height:100%}
.nivo-lightbox-inline,.nivo-lightbox-ajax{max-height:100%;overflow:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.nivo-lightbox-error{display:table;text-align:center;width:100%;height:100%;color:#fff;text-shadow:0 1px 1px #000}
.nivo-lightbox-error p{display:table-cell;vertical-align:middle}
.nivo-lightbox-notouch .nivo-lightbox-effect-fade,.nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale,.nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft,.nivo-lightbox-notouch .nivo-lightbox-effect-slideRight,.nivo-lightbox-notouch .nivo-lightbox-effect-slideUp,.nivo-lightbox-notouch .nivo-lightbox-effect-slideDown,.nivo-lightbox-notouch .nivo-lightbox-effect-fall{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap{-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;-webkit-transform:scale(.7);-moz-transform:scale(.7);-ms-transform:scale(.7);transform:scale(.7)}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap{-webkit-transition:all .3s cubic-bezier(.25, .5, .5, .9);-moz-transition:all .3s cubic-bezier(.25, .5, .5, .9);-ms-transition:all .3s cubic-bezier(.25, .5, .5, .9);-o-transition:all .3s cubic-bezier(.25, .5, .5, .9);transition:all .3s cubic-bezier(.25, .5, .5, .9)}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap{-webkit-transform:translateX(-10%);-moz-transform:translateX(-10%);-ms-transform:translateX(-10%);transform:translateX(-10%)}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap{-webkit-transform:translateX(10%);-moz-transform:translateX(10%);-ms-transform:translateX(10%);transform:translateX(10%)}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap{-webkit-transform:translateY(-10%);-moz-transform:translateY(-10%);-ms-transform:translateY(-10%);transform:translateY(-10%)}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap{-webkit-transform:translateY(10%);-moz-transform:translateY(10%);-ms-transform:translateY(10%);transform:translateY(10%)}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall{-webkit-perspective:1000px;-moz-perspective:1000px;perspective:1000px}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap{-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateZ(300px);-moz-transform:translateZ(300px);-ms-transform:translateZ(300px);transform:translateZ(300px)}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}
ul.feed-list{margin:0 0 1.5em 0;padding:0}ul.feed-list li{list-style:none;margin:0 0 .75em 0;padding:0}ul.feed-list li span.type{margin-left:.5em;font-size:.8em;color:#777}ul.feed-list li span.type a{color:#777;text-decoration:none}
.pill-link-list ul,ul.pill-link-list{margin:0 0 1.5em 0;padding:0}.pill-link-list ul li,ul.pill-link-list li{display:inline;margin:0;padding:0}.pill-link-list ul li a,ul.pill-link-list li a{display:inline-block;padding:0 .75em;margin:0 .25em .5em 0;background-color:#f2f2f2;text-decoration:none;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em}.pill-link-list ul li a:hover,ul.pill-link-list li a:hover{color:#444}
img{max-width:100%;height:auto}
.attn{font-family:"Source Sans Pro",sans-serif;font-weight:400;font-size:1.3em;line-height:1.5em}
.box{background-color:#e6e6e6;padding:1em;margin-bottom:1.5em}.box>*:last-child{margin-bottom:0}
.text-right,.text-right-d{text-align:right}
.text-left,.text-left-d{text-align:left}
.text-center,.text-center-d{text-align:center}
@media only screen and (max-width:640px){.text-right-d{text-align:left} .text-left-d{text-align:left} .text-center-d{text-align:left} .text-right-m{text-align:right} .text-left-m{text-align:left} .text-center-m{text-align:center}}ul.lined,ol.lined{border-top:1px solid #ddd}
ul.lined li{list-style:none;margin:0;padding:.4em;border-bottom:1px solid #ddd}
ol.lined li{list-style-position:inside;margin:0;padding:.4em;border-bottom:1px solid #ddd}
ul.blocked li{list-style:none;margin:0 0 .75em 0}
ol.blocked li{list-style-position:inside;margin:0 0 .75em 0}
ul.inline,ol.inline{padding:0}ul.inline li,ol.inline li{display:inline;list-style:none;margin:0 1em 0 0;padding:0}
img.right{float:right;margin:0 0 .5em .5em;text-align:center}
img.left{float:left;margin:0 .5em .5em 0;text-align:center}
table.narrow{width:auto}
.margin-collapse{margin-bottom:0}
.show-mobile{display:none}
@media only screen and (max-width:640px){.show-mobile{display:block} span.show-mobile,i.show-mobile{display:inline} .show-big{display:none}}.innerglow{box-shadow:inset 0 0 .5em rgba(0,0,0,0.1)}
.transition{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;transition:all .3s ease-in}
div.box,.code-block{padding:1em;margin-bottom:1.5em;background-color:#e6e6e6}div.box p:last-child,.code-block p:last-child{margin-bottom:0}
.code-block{white-space:pre}
.accessible-hide,.assistive-text,.element-invisible{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden}
code[class*="language-"],pre[class*="language-"]{color:#e6e6e6;text-align:left;white-space:pre;word-spacing:normal;font-size:.9em;font-family:"Source Code Pro",monospace;font-weight:400;direction:ltr;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}
pre[class*="language-"]::-moz-selection,pre[class*="language-"] ::-moz-selection,code[class*="language-"]::-moz-selection,code[class*="language-"] ::-moz-selection{background:rgba(94,127,192,0.8)}
pre[class*="language-"]::selection,pre[class*="language-"] ::selection,code[class*="language-"]::selection,code[class*="language-"] ::selection{background:rgba(94,127,192,0.8)}
pre[class*="language-"]{padding:.4em .8em;margin:0 0 1.5em 0;overflow:auto}
:not(pre)>code[class*="language-"],pre[class*="language-"]{background:#444}
:not(pre)>code[class*="language-"]{padding:.1em;-webkit-border-radius:.3em;-moz-border-radius:.3em;-ms-border-radius:.3em;border-radius:.3em}
.token.comment,.token.prolog,.token.doctype,.token.cdata{color:#999}
.token.punctuation{color:#ccc}
.namespace{opacity:.7}
.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol{color:#d94149}
.token.selector,.token.attr-name,.token.string,.token.builtin{color:#f80}
.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string,.token.variable{color:#a67f59;background:#5e5e5e}
.token.atrule,.token.attr-value,.token.keyword{color:#95abd6}
.token.regex,.token.important{color:#e90;font-weight:600}
.token.important{font-weight:600}
.token.entity{cursor:help}
.token a{color:inherit}
@-webkit-keyframes show-and-fadein{0%{display:none;opacity:0} 1%{display:block;opacity:0} 100%{display:block;opacity:1}}@-moz-keyframes show-and-fadein{0%{display:none;opacity:0} 1%{display:block;opacity:0} 100%{display:block;opacity:1}}@-ms-keyframes show-and-fadein{0%{display:none;opacity:0} 1%{display:block;opacity:0} 100%{display:block;opacity:1}}@keyframes show-and-fadein{0%{display:none;opacity:0} 1%{display:block;opacity:0} 100%{display:block;opacity:1}}
